<header class="container" role="banner" data-ng-controller="applicationHeaderTemplateController">
    <div id="menu" class="navbar-inverse navbar-fixed-top">
        <div class="logocontainer">
            <a href="/home/Index">
                    <div class="CCIMsmallLogo_div"></div>
                    <div class="LogoText">Territory Locator</div>
            </a>
        </div>
        <div class="navbar-header col-md-3 col-lg-3">
            <button style="background-color:whitesmoke;" class="btn btn-sucess navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon-plus"></span></button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li class="nav " ng-if="IsAdmin" ng-class="isAdmin">
                    <a href="#" data-ng-click="DashBoardClick(AdminUrl)">Admin</a>
                </li>
                <li class="nav " ng-if="IsLoggedIn" ng-class="isIndex">
                    <a href="#" data-ng-click="DashBoardClick(DashboardUrl)">Dashboard</a>
                </li>
                <li class="nav " ng-class="isFeatures">
                    <a href="#" data-ng-click="MenuClick(FeaturesUrl)">Features</a>
                </li>
                <li class="nav " ng-class="isSample">
                    <a href="#" data-ng-click="MenuClick(SampleUrl)">Samples</a>
                </li>
                <li class="nav " ng-if="(MemberLevel!=100 || MemberLevel==null)" ng-class="isSubscribe">
                    <a href="#" ng-if="!IsLoggedIn" data-ng-click="MenuClick(SubscribeUrl)">Membership</a>
                    <a href="#" ng-if="IsLoggedIn && !IsCCMI" data-ng-click="MenuClick(SubscribeUrl)">Renew</a>
                </li>
               
                <li class="nav " ng-class="isContactUs">
                    <a href="http://www.stdblearningcenter.com/contact_us.html" target="_blank">Contact Us</a>
                </li>
                <li class="nav " ng-class="isSupport">
                    <a href="http://www.ccimtechsupport.com" target="_blank">Support</a>
                </li>
                <li class="nav " style="display:none;" ng-class="isTransition">
                    <a href="#" data-ng-click="MenuClick(TransitionUrl)">Transition</a>
                </li>
                <li class="nav" ng-if="IsLoggedIn" >
                    <a href="#" data-ng-click="SignOutClick()">SIGN OUT</a>
                </li>-->
                <!--<li class="nav" ng-if="!IsLoggedIn" ng-class="isIndex"><a href="#" data-ng-click="MenuClick(LogInUrl)">SIGN IN</a></li>-->
                <!--<li class="nav" ng-if="!IsLoggedIn" ng-class="isIndex"><a href="https://www.stdb.com/home/Login" >SIGN IN</a></li>-->
                <li class="nav"><a href="#">Upload Company Document  </a></li>
                <li class="nav"><a href="#" >Admin Login </a></li>
                
            </ul>
        </div>
    </div>

   

</header>
