<div class="popupwrap" id="modalWindowPopUpContainer">
    <!-- content starts -->
    <div id="popupContent">
        <div class="popMaincontainer">
            <div class="popupHeader">
                Validation - Errors
                <div class="popupclose" ng-click="onPopUpCloseButtonClicked()">X</div>
            </div>

            <div class="popupContainerMain bulkuploadpopuptables">
                <div class="popcontall">
                    <table class="table-bordered table-striped table-condensed cf">
                        <tbody>
                            <tr>
                                <th width="20%">First Name</th>
                                <th width="20%">Last Name</th>
                                <th width="25%">Email</th>
                                <th width="35%">Message</th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="STDBCustomerListTemplateScrollbarContainer" content-data="InValidUserList" data-ng-scroll-bar>
                        <div class="scrollbar">
                            <div class="track">
                                <div class="thumb">
                                </div>
                            </div>
                        </div>
                        <div class="viewport">
                            <div class="overview">
                                <table class="table-bordered table-striped table-condensed cf">
                                    <tbody>
                                        <tr>
                                            <th width="20%">First Name</th>
                                            <th width="20%">Last Name</th>
                                            <th width="25%">Email</th>
                                            <th width="35%">Message</th>
                                        </tr>
                                        <tr ng-repeat="user in InValidUserList">



                                            <td>
                                                <span>{{user.FirstName}}</span>


                                            </td>

                                            <td>

                                                <span>{{user.LastName}}</span>
                                            </td>

                                            <td>

                                                <span>{{user.EmailAddress}}</span>
                                            </td>
                                            <td>
                                                <span ng-if="user.IsCCIMUser">CCIM User</span>
                                                <span ng-if="!user.IsUserExists">User not found</span>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                    <input type="button" class="submitButton" value="Continue" ng-click="onClickContinue()" />
            </div>
        </div>
    </div>
</div>
