<div data-ng-controller="sampleDemoTemplateController">
    <section class="block" id="aboutus">
        <div class="page-header container">
            <span class="text-primary" style="font-size:16pt;">CCIM Associate Samples Gallery</span>
        </div>
        <div class="container">
           

            <!--Professional-->
            <div class=" row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="heading_primary professional">CCIM Associate Professional Membership: </h1>

                <div class="col-sm-8 col-md-8 col-lg-8">

                    <figure class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div ng-click="ShowPopUp('Files/Images/RadiiImage.png','Radii Map')" class="demoimagethumpnail_150x150 radii-map"></div>
                    </figure>
                    <figure class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div ng-click="ShowPopUp('Files/Images/BandsImage.png','Bands Map')" class="demoimagethumpnail_150x150 bands-map"></div>
                    </figure>
                    <figure class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div ng-click="ShowPopUp('Files/Images/DrivetimeImage.png','Drive Times Map')" class="demoimagethumpnail_150x150 drivetime-map"></div>
                    </figure>
                    <figure class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <figcaption>Create areas based on Radii, Donuts or Drive Times</figcaption>
                    </figure>

                    <div class="col-lg-12">
                        <figure class="col-lg-4">
                            <div ng-click="ShowPopUp('Files/Images/Hand-drawnpolygonImage.png','Hand Draw Polygon')" class="demoimagethumpnail_150x150 handdrawnpolygon-map "></div>
                            <figcaption>Hand Drawn Polygon</figcaption>
                        </figure>
                        <figure class="col-lg-4" style="width: 400px !important;">
                            <div style="margin-left: 22px !important;" ng-click="ShowPopUp('Files/Images/StandardGeographyImage.png','Standard Geographies')" class="demoimagethumpnail_150x150 standardgeography-map"></div>
                            <figcaption style="margin-left: -173px !important;">Standard Geographies</figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-12">
                        <h1 class="text-primary" style="font-size: 16pt; font-weight: 600 !important; float: left; width: 100%; margin: 0; ">Map types</h1>
                        <figure class="col-lg-4">
                            <div ng-click="ShowPopUp('Files/Images/StreetMapImage.png','Street')" class="demoimagethumpnail_150x150 street-map"></div>
                            <figcaption>Street</figcaption>
                        </figure>
                        <figure class="col-lg-4">
                            <div ng-click="ShowPopUp('Files/Images/Satellite-Hybrid MapImage.png','Satellite-Hybrid')" class="demoimagethumpnail_150x150 satellitehybrid-map"></div>
                            <figcaption>Satellite-Hybrid</figcaption>
                        </figure>
                        <figure class="col-lg-4">
                            <div ng-click="ShowPopUp('Files/Images/Topographic MapImage.png','Topography')" class="demoimagethumpnail_150x150 topographicmap-map"></div>
                            <figcaption>Topography</figcaption>
                        </figure>


                    </div>
                    <div class="col-lg-12">
                        <figure class="col-lg-4">
                            <div class="demoimagethumpnail_150x150 satellite-map" ng-click="ShowPopUp('Files/Images/SatelliteMapImage.png','Satellite Map')"></div>
                            <figcaption>Satellite Map</figcaption>
                        </figure>
                        <figure class="col-lg-4">
                            <div ng-click="ShowPopUp('Files/Images/WebMapImage.PNG','Web Map')" class="demoimagethumpnail_150x150 web-map"></div>
                            <figcaption>Web Map</figcaption>
                        </figure>
                        <figure class="col-lg-4">
                            <div ng-click="ShowPopUp('Files/Images/SmartMapSearchImage.png','SmartMap Search')" class="demoimagethumpnail_150x150 smartmapsearch-map"></div>
                            <figcaption>SmartMap Search</figcaption>
                        </figure>
                    </div>


                    <div class="col-lg-12">
                        <figure class="col-lg-4">
                            <div class="demoimagethumpnail_150x150 colorcode-map" ng-click="ShowPopUp('Files/Images/ColorCodedMap.png','Color Coded Map')"></div>
                            <figcaption>Color Coded Map</figcaption>
                        </figure>
                        <figure class="col-lg-4">
                            <div ng-click="ShowPopUp('Files/Images/CompetitionMap.png','Competition Map')" class="demoimagethumpnail_150x150 competition-map"></div>
                            <figcaption>Competition Map</figcaption>
                        </figure>
                        <figure class="col-lg-4">
                            <div ng-click="ShowPopUp('Files/Images/National Geo.PNG','National Geographic')" class="demoimagethumpnail_150x150 nationalgeo-map"></div>
                            <figcaption>National Geographic</figcaption>
                        </figure>

                    </div>
                    <div class="col-lg-12">
                        <figure class="col-lg-4">
                            <div ng-click="ShowPopUp('Files/Images/FloodmapStreet.png','Flood Map')" class="demoimagethumpnail_150x150 flood-map"></div>
                            <figcaption>Flood Map</figcaption>
                        </figure>
                        <figure class="col-lg-4">
                            <div ng-click="ShowPopUp('Files/Images/DominantTapestryMap.png','Dominant Tapestry Map')" class="demoimagethumpnail_150x150 dominanttapestry-map"></div>
                            <figcaption>Dominant Tapestry Map</figcaption>
                        </figure>
                    </div>


                    </div>
                <!-- <a  onclick="OpenModalImage('../../Content/images/samplespage/xxxxxx/zzzzzzzz.png')"> -->
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">               
                   
                    
                   
                    
                    

                    <ul class="listdetails_sample professional">
                        <li class="heading"> Analysis Areas</li>
                        <li ng-click="ShowPopUp('Files/Reports/Analysis Areas/RadiiImage.png','Radii')">Radii</li>
                        <li ng-click="ShowPopUp('Files/Reports/Analysis Areas/BandsImage.png','Bands')">Bands</li>
                        <li ng-click="ShowPopUp('Files/Reports/Analysis Areas/DrivetimeImage.png','Drive Times')">Drive Times</li>
                        <li ng-click="ShowPopUp('Files/Reports/Analysis Areas/Standard GeographyImage.png','Standard Geography')">Standard Geography</li>
                        <li ng-click="ShowPopUp('Files/Reports/Analysis Areas/Hand-drawnpolygonImage.png','Hand Drawn Polygon ')">Hand Drawn Polygon </li>
                    </ul>                  
                    
                    
                    

                    <ul class="listdetails_sample professional">
                        <li class="heading">Age Reports</li>
                        <li ng-click="ShowPopUp('Files/Reports/Age Reports/Age 50plusProfile.pdf','Age 50+')">Age 50+</li>
                        <li ng-click="ShowPopUp('Files/Reports/Age Reports/Age By Sex By Race Profile.pdf','Age by Sex Profile')">Age by Sex by Race Profile</li>
                        <li ng-click="ShowPopUp('Files/Reports/Age Reports/Detailed Age Profile.pdf','Detailed Age Profile.pdf')">Detailed Age Profile </li>            
                    </ul>



                    <ul class="listdetails_sample professional">
                        <li class="heading">Business Lists- provided by Dunn & Bradstreet </li>

                        <li><a href="../../Content/images/samplespage/Files/Reports/Business Lists/Businesses by Type or Name.xlsx">Businesses by type and name</a></li>
                      <!--  <li ng-click="ShowPopUp('DemoBusinessLists/Businesses by Type or Name.xlsx','Businesses by type and name ')">Businesses by type and name </li>-->
                    </ul>



                    <ul class="listdetails_sample professional">
                        <li class="heading">Business Reports</li>
                        <li ng-click="ShowPopUp('Files/Reports/Business Reports/Business Summary Report.pdf','Business Summary Report')">Business Summary Report</li>
                        <li ng-click="ShowPopUp('Files/Reports/Business Reports/Business Locator Report.pdf','Business Locator Report ')">Business Locator Report </li>
                    </ul>



                    <ul class="listdetails_sample professional">
                        <li class="heading">Census Reports</li>
                        <li ng-click="ShowPopUp('Files/Reports/Census Reports/2010 Census Profile.pdf','Census 2010 Profile Report')">Census 2010 Profile Report</li>
                        <li ng-click="ShowPopUp('Files/Reports/Census Reports/ACS Population Summary.pdf','ACS Population Summary Report')">ACS Population Summary Report</li>
                        <li ng-click="ShowPopUp('Files/Reports/Census Reports/ACS Housing Summary.pdf','ACS Housing Summary Report')">ACS Housing Summary Report</li>
                    </ul>

                    <ul class="listdetails_sample professional">
                        <li class="heading">Comparison Reports </li>
                        <li><a href="../../Content/images/samplespage/Files/Reports/Comparison Reports/Customized Comparisons.xlsx"> Comparison Report</a></li>
                        <li ng-click="ShowPopUp('Files/Reports/Comparison Reports/Comparison Report Graph (Image).png',' Compare Report Graph')"> Compare Report Graph</li>
                        <!--<li> Compare Report Graph</li>-->
                    </ul>

                    <ul class="listdetails_sample professional">
                        <li class="heading">Consumer Spending Reports </li>
                        <li ng-click="ShowPopUp('Files/Reports/Consumer Spending/Automotive Aftermarket Expenditures.pdf','Automotive Aftermarket Expenditures')">Automotive Aftermarket Expenditures</li>
                        <li ng-click="ShowPopUp('Files/Reports/Consumer Spending/Financial Expenditures.pdf','Financial Expenditures')">Financial Expenditures</li>
                        <li ng-click="ShowPopUp('Files/Reports/Consumer Spending/House and Home Expenditures.pdf','House and Home Expenditures')">House and Home Expenditures</li>
                        <li ng-click="ShowPopUp('Files/Reports/Consumer Spending/Household Budget Expenditures.pdf','Household Budget Expenditures')">Household Budget Expenditures</li> 
                        <li ng-click="ShowPopUp('Files/Reports/Consumer Spending/Recreation Expenditures.pdf','Recreation Expenditures')">Recreation Expenditures</li>
                        <li ng-click="ShowPopUp('Files/Reports/Consumer Spending/Retail Goods and Services Expenditures.pdf','Retail Goods and Services Expenditures')">Retail Goods and Services Expenditures</li>
                    </ul>

                    <ul class="listdetails_sample professional">
                        <li class="heading">Demographic Reports</li>
                        <li ng-click="ShowPopUp('Files/Reports/Demographic Reports/Demographic and Income Comparison Profile.pdf','Demographic and Income Comparison')">Demographic and Income Comparison </li>
                        <li ng-click="ShowPopUp('Files/Reports/Demographic Reports/Demographic and Income Profile.pdf','Demographic and Income Profile')">Demographic and Income Profile</li>
                        <li ng-click="ShowPopUp('Files/Reports/Demographic Reports/Executive Summary.pdf','Executive Summary')">Executive Summary</li>
                        <li ng-click="ShowPopUp('Files/Reports/Demographic Reports/Graphic Profile (Image).pdf','Graphic Profile')">Graphic Profile</li>
                        <li ng-click="ShowPopUp('Files/Reports/Demographic Reports/Market Profile.pdf','Market Profile')">Market Profile</li>
                    </ul>

                    <ul class="listdetails_sample professional">
                        <li class="heading">Housing Reports</li>
                        <li ng-click="ShowPopUp('Files/Reports/Housing Reports/Household Income Profile.pdf','Household Income Profile')">Household Income Profile</li>
                        <li ng-click="ShowPopUp('Files/Reports/Housing Reports/Housing Profile.pdf','Housing Profile')">Housing Profile</li>
                    </ul>

                    <ul class="listdetails_sample professional">
                        <li class="heading">Income Reports </li>
                        <li ng-click="ShowPopUp('Files/Reports/Income-Net Worth/Disposable Income Profile.pdf','Disposable Income Profile')">Disposable Income Profile</li>
                        <li ng-click="ShowPopUp('Files/Reports/Income-Net Worth/Net Worth Profile.pdf','Net Worth Profile')">Net Worth Profile</li>
                    </ul>
                    
                    <ul class="listdetails_sample professional">
                        <li class="heading">Lifestyle Tapestry Reports </li>
                        <li ng-click="ShowPopUp('Files/Reports/Lifestyle Tapestry Reports/Dominant Tapestry Map (Image).pdf','Dominant Tapestry Map')">Dominant Tapestry Map</li>
                        <li ng-click="ShowPopUp('Files/Reports/Lifestyle Tapestry Reports/Tapestry Segmentation Area Profile.pdf','Tapestry Area Segmentation Report ')">Tapestry Area Segmentation Report </li>
                        
                    </ul>




                    <ul class="listdetails_sample professional">
                        <li class="heading">Maps with Data </li>
                        <li ng-click="ShowPopUp('Files/Reports/Maps with Data/Color Coded Map (Image).pdf','Color Coded Map ')">Color Coded Map </li>
                        <li ng-click="ShowPopUp('Files/Reports/Maps with Data/Smart Map Search (Image).png','Smart Map Search')">Smart Map Search</li>
                        <li ng-click="ShowPopUp('Files/Reports/Maps with Data/Competition Map (Image).pdf','Business Location Map')">Business Location Map</li>

                    </ul>

                    <ul class="listdetails_sample professional">
                        <li class="heading">Map Types</li>
                        <li ng-click="ShowPopUp('Files/Reports/MapTypes/Street Map (Image).png','Street Map ')">Street Map </li>
                        <li ng-click="ShowPopUp('Files/Reports/MapTypes/Satellite Map (Image).png','Satellite Map')">Satellite Map </li>
                        <li ng-click="ShowPopUp('Files/Reports/MapTypes/Satellite-Hybrid Map (Image).png','Hybrid Map')">Hybrid Map</li>
                        <li ng-click="ShowPopUp('Files/Reports/MapTypes/Topographic Map (Image).png','Topographic Map')">Topographic Map </li>
                        <li ng-click="ShowPopUp('Files/Reports/MapTypes/Flood Map Street (Image).pdf','Flood Map')">Flood Map </li>
                        <li ng-click="ShowPopUp('Files/Reports/MapTypes/Flood Map Hybrid (Image).pdf ','Flood Map Hybrid ')">Flood Map Hybrid </li>
                        <li ng-click="ShowPopUp('Files/Reports/MapTypes/National Geo.PNG ','National Geographic')">National Geographic</li>
                        <li ng-click="ShowPopUp('Files/Reports/MapTypes/Web Map (Image).PNG','Web Maps')">Web Maps </li>
                    </ul>


                    <ul class="listdetails_sample professional">
                        <li class="heading">Market Potential Reports </li>
                        <li ng-click="ShowPopUp('Files/Reports/Market Potential/Electronics and Internet Market Potential.pdf','Electronics and Internet Market Potential')">Electronics and Internet Market Potential </li>
                        <li ng-click="ShowPopUp('Files/Reports/Market Potential/Finances Market Potential.pdf','Financial Investments Market Potential')">Financial Investments Market Potential </li>
                        <li ng-click="ShowPopUp('Files/Reports/Market Potential/Healthy and Beauty Market Potential.pdf','Health and Beauty Market Potential')">Health and Beauty Market Potential </li>
                        <li ng-click="ShowPopUp('Files/Reports/Market Potential/Pets and Products Market Potential.pdf','Pets and Products Market Potential')">Pets and Products Market Potential</li>

                        <li ng-click="ShowPopUp('Files/Reports/Market Potential/Restaurant Market Potential.pdf','Restaurant Market Potential')">Restaurant Market Potential </li>
                        <li ng-click="ShowPopUp('Files/Reports/Market Potential/Retail Market Potential.pdf','Retail Market Potential')">Retail Market Potential</li>
                        <li ng-click="ShowPopUp('Files/Reports/Market Potential/Sports and Leisure Market Potential.pdf','Sports and Leisure Market Potential')">Sports and Leisure Market Potential</li>
                    </ul>


                    <ul class="listdetails_sample professional">
                        <li class="heading">Medical Reports </li>
                        <li ng-click="ShowPopUp('Files/Reports/Medical Expenditure/Medical Expenditures.pdf','Medical Expenditures')">Medical Expenditures</li>
                       
                    </ul>

                    <ul class="listdetails_sample professional">
                        <li class="heading">Retail Reports </li>
                        <li ng-click="ShowPopUp('Files/Reports/Retail/Retail MarketPlace Profile (Image).pdf','Retail MarketPlace Profile (Gap Analysis) ')">Retail MarketPlace Profile (Gap Analysis) </li>
                        <li>All <b><i>Consumer Spending Reports </i></b> listed above </li>
                        <li>All <b><i> Market Potential Reports </i></b>listed above </li>
                        <li ng-click="ShowPopUp('Files/Reports/Retail/Major Shopping Center Locator.pdf','Major Shopping Locator Report')">Major Shopping Locator Report</li>
                    </ul>


                  

                    <ul class="listdetails_sample professional">
                        <li class="heading">Traffic Reports</li>
                        <li ng-click="ShowPopUp('Files/Reports/Traffic/Traffic Count Map (Image).pdf','Traffic Count Map')">Traffic Count Map</li>
                        <li ng-click="ShowPopUp('Files/Reports/Traffic/Traffic Count Profile.pdf','Traffic Count Profile')">Traffic Count Profile</li>
                        <li ng-click="ShowPopUp('Files/Reports/Traffic/Traffic Count Map - Closeup (Image).pdf','Traffic Count Closeup')">Traffic Count Closeup</li>
                    </ul>
                    <ul class="listdetails_sample professional">
                        <li class="heading">DataBaseUSA</li>
                        

                        <li><a href="../../Content/images/samplespage/Files/Reports/Database USA/Database USA Business List Example.csv">Outside Business lists provided by DataBaseUSA</a> </li>


                    </ul>






</div>
            </div>
            <!--Platinum-->
            <div class=" row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="heading_primary platinum">CCIM Associate Platinum Membership: </h1>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                   
                    <figure class="col-lg-4">
                        <div ng-click="ShowPopUp('Files/Images/PictometryImage1.png','Pictometry 1')" class="demoimagethumpnail_150x150 pictometry1-map"></div>
                    </figure>
                    <figure class="col-lg-4">
                        <div ng-click="ShowPopUp('Files/Images/PictometryImage2.png','Pictometry 2')" class="demoimagethumpnail_150x150 pictometry2-map"></div>
</figure>
                    <figure class="col-lg-4">
                        <div ng-click="ShowPopUp('Files/Images/PictometryImage3.png','Pictometry 3')" class="demoimagethumpnail_150x150 pictometry3-map"></div>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <dl>
                        <dt>Includes everything above plus:</dt>
                       
                        <dd>Pictometry Imagery    </dd>
                        <!--<dd><a href="../../Content/images/samplespage/Files/Reports/Database USA/Database USA Business List Example.csv">Outside Business lists provided by DataBaseUSA</a></dd>-->


                           <!-- <dd><a href="../../Content/images/samplespage/DemoDatabase USA/Database USA Business List Example.csv">Pictometry Images   Outside Business lists provided by DataBaseUSA</a></dd>-->
                        
                    </dl>
                    
                </div>
            </div>
        </div>
    </section>

</div>